
// Primary Color
$primary_color: #2186C3;
$secondary_color: #F75411;

// Selection Color
$selection_color: #1e1e1e;

// Typography
$body_font_family: Mulish;
$body_font_weight: 400;
$body_font_size: 14px;
$body_line_height: 28px;
$body_color: #41484f;

// Headings
$h1_font_family: Poppins;
$h1_font_weight: 600;
$h1_font_size: 38px;
$h1_line_height: 42px;
$h1_color: #2a2e33;

$h2_font_family: Poppins;
$h2_font_weight: 600;
$h2_font_size: 28px;
$h2_line_height: 35px;
$h2_color: #2a2e33;

$h3_font_family: Poppins;
$h3_font_weight: 600;
$h3_font_size: 26px;
$h3_line_height: 35px;
$h3_color: #2a2e33;

$h4_font_family: Poppins;
$h4_font_weight: 600;
$h4_font_size: 20px;
$h4_line_height: 28px;
$h4_color: #2a2e33;

$h5_font_family: Poppins;
$h5_font_weight: 600;
$h5_font_size: 18px;
$h5_line_height: 21px;
$h5_color: #2a2e33;

$h6_font_family: Poppins;
$h6_font_weight: 600;
$h6_font_size: 14px;
$h6_line_height: 21px;
$h6_color: #2a2e33;

// Body
$body_bg_color: #f1f2f4;
$body_bg_repeat: no-repeat;
$body_bg_size: contain;
$body_bg_attachment: inherit;
$body_bg_position: center top;
$body_bg_image: url();

// Menu
$menu_font_family: Mulish;
$menu_font_weight: 400;
$menu_font_size: 16px;
$menu_text_transform: none;
$main_menu_top_level_link_color: #fff;

// Sub Menu
$sub_menu_bg_color: #FFFFFF;
$sub_menu_font_family: Mulish;
$sub_menu_weight: 400;
$sub_menu_size: 13px;
$sub_menu_link_color: #2186c4;
$sub_menu_hover_color: #fff;
$sub_menu_active_color: #2186c4;
$sub_menu_bg_active_color: #2186C3;
$mobile_menu_color: #BDBDBD;
$mobile_menu_active_color: #BEE6FD;

// Header

$header_bg_color: #363c42;

// Footer
$footer_bg_color: #262a2e;
$footer_bg_repeat: no-repeat;
$footer_bg_size: cover;
$footer_bg_attachment: inherit;
$footer_bg_position: center center;
$footer_bg_image: url();

$footer_heading_color: #FFFFFF;

