/**
 * Basic typography style for copy text
 */

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
  font-size: $root-font-size;
}

body {
  font-size: $base-font-size;
  line-height: $text-font-line-height;
  font-weight: $text-font-weight;
  font-family: $text-font-stack;
  color: $text-color;

  background-color: #f1f2f4;
  overflow-x: hidden;
}

::selection {
  background-color: #1e1e1e;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
  color: $heading-color;
  font-weight: $heading-font-weight;

  &:not(:last-child) {
	margin-bottom: remy(21);
  }
}

h1 {
  font-size: 38px;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  line-height: 35px;
}

h3 {
  font-size: 26px;
  line-height: 35px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 21px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

address {
  margin-bottom: remy(14);
}

p {
  line-height: 2rem;

  &:not(:last-child) {
	margin-bottom: 14px;
  }
}

table {
  td,
  th {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
  }
}

table {
  border-spacing: 0;
  margin: 0 0 remy(28);
  table-layout: fixed;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  border-color: #f1f2f4;
  background-color: #fff;
  width: 100%;
  color: #41484f;

  tbody,
  thead,
  tfoot,
  tr,
  th,
  td {
	border-color: inherit;
  }

  tr {
	transition-property: background-color;
	transition-delay: 0ms;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	border-width: 0;
	border-style: solid;

	> th,
	> td {
	  padding: 14px 21px;
	  text-align: left;
	  font-weight: 400;
	  line-height: 21px;
	  border-top: 2px solid #f1f2f4;
	  border-right: 2px solid #f1f2f4;
	}

	th {
	  font-size: 14px;
	  font-weight: 400;
	  color: #41484f;
	}

	td {
	  color: #41484f;
	}

	&:hover {
	  background-color: #f9f9f9;
	}

  }

  thead {

	tr {
	  th {
		font-weight: 700;
		color: #2a2e33;
	  }
	}

  }

  tbody,
  tfoot {
	> tr {

	  > td:last-child {
		border-right: none;
	  }

	}
  }


}

.table-condensed {
  width: auto;
}

span.highlight {
  background-color: #1e1e1e;
  color: #fff;
}

dl:not(:last-child) {
  margin-bottom: 1.5em;
}

th {
  text-align: left;
}

dt, dd {
  padding: 4px 0;
}

dt {
  font-weight: 700;
}

ul {
  list-style-type: disc;
}

ul, ol {
  margin-bottom: 21px;
  list-style-position: inside;
}

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 21px;
}

img {
  vertical-align: top;
  height: auto;
  max-width: 100%;
}

mark {
  color: #fff;
  background-color: #333;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
}

blockquote {
  background-color: #ebf7fe;
  padding: 21px 28px;
  font-weight: 600;
  font-style: italic;
  color: #2a2e33;
  font-size: 16px;
  line-height: 28px;
  border-radius: 7px;

  &:not(:last-child) {
	margin-bottom: 21px;
  }

	p {
	  line-height: 28px;
	}

}

pre {
  clear: both;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  padding: 2em;
  line-height: 2em;
  font-size: 0.750em;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, .05) 50%, transparent 50%, transparent);
  font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
  margin-bottom: remy(28);
  position: relative;
  left: 0;
  text-transform: none;
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;

  background-size: 100% 4em;
  transition: all ease-in-out 0.5s;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

embed {
  vertical-align: top;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption.alignleft,
img.alignleft {
  margin-right: 28px;
}

.wp-caption.alignright,
img.alignright {
  margin-left: 28px;
  margin-top: 28px;
}

img.alignleft,
img.alignright {
  margin-bottom: 28px;
}

.bypostauthor {
  text-transform: uppercase;
}

img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%;
}

img.wp-post-image {
  margin: 0 auto;
}

img[class*="align"] {
  max-width: 100%;
  clear: both;
}

.widget img,
.wp-caption {
  max-width: 100%;
}

.sticky { font-weight: 400; }

.wp-caption {

  margin-bottom: 28px;

  .wp-caption-text {
	margin-top: 14px;
	margin-bottom: 0;
	text-align: center;
	color: #75828f;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.6px;
  }

}

.hidden {
  display: none;
}

.wp-caption-text,
.gallery-caption {
  font-size: 85%;
  font-weight: lighter;
  line-height: 21px;
  margin-top: 7px;
}